nav {
    display: flex;
    justify-content: center;
    padding:150px;
    background: #ABB2B9;
    background-image: url(../images/1logo.png);
    background-repeat:no-repeat ;
   background-position: center;
}

nav h3 {
    list-style-type: none;
    display: flex;font-size: 100px;

}

nav h3 {
    font-weight: 300;
    color: white;
    font-size: 20px;
    text-align: right;font-size: 50px;
    color: #ffc2c2;
  }
    .sidenav {
    width: 335px;
    height: 800px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: #4f706a;

    padding: 8px 0;
}
#pew{
  background-color: ;
}
body {
  background-color: #ABB2B9;
  background-image: url(../images/play.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width:110%;
}
h3 {
  color: black;
}

h2{
  color:  black;
}
h4 {
  color: #FFFFFF  ;
}
h5 {
  color: red;

}
#numeral {
  width: 40%;
}
p{
  font-size: 25px;
  color: #21260d;
  font-weight: bold;
  font-family: Comic Sans MS;
}
ol{
  color: #85144b;
  font-size: 16px;
  font-weight: bold;
  font-weight: bolder;
}
h1{
  background-color:#597772 ;
  border-style: solid;
  width: 100px;
  border-radius: 20px;
  text-align: center;
  border-color:


}
