nav {
    display: flex;
    justify-content: center;
    padding:140px;
    background: #ABB2B9;
    background-image: url(../images/1logo.png);
    background-repeat:no-repeat ;
   background-position: center;
}

nav h3 {
    list-style-type: none;
    display: flex;font-size: 100px;

}

nav h3 {
    font-weight: 300;
    color: white;
    font-size: 20px;
    text-align: right;font-size: 50px;
    color: #ffc2c2;font-family:
}


.w3-sidebar{background-color:#597772 ;width: 50px;border-style: ;
  background-size: auto;
  background-repeat: repeat;
  background-image: url(../images/pingping.png);
  background-size: 80px;
  float: right;
  background-repeat: no-repeat;



}
#pew{
  background-color: lightgrey;
}
body {
  background-color: #ededed;
  background-image: url(../images/play.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}
h3 {
  color: black;
}

h2{
  color:  black;
}
h4 {
  color: #FFFFFF  ;
}
h5 {
  color: red;

}
#numeral {
  width: 40%;
}
p{
  font-size: 25px;
  color: #21260d;
  font-weight: bold;
  font-family: Comic Sans MS;
}
ol{
  color: orange;
  font-size: 16px;
  font-weight: bold;
  font-weight: bolder;
}
h1{
  color: #;
  background-color:#597772 ;
  border-style: dashed;
  border-radius:

}
